.profile__info {
  display: grid;
  align-self: center;
  width: 62%;
  grid-template-columns: minmax(0 auto) 24px;
  grid-template-areas: "title button"
                        "subtitle subtitle";
  row-gap: 6px;
  column-gap: 25px;
  justify-content: start;
  }

  @media screen and (max-width: 1000px){
    .profile__info {
      flex-direction: column;
      justify-content: center;
      padding: 26px 0 32px;
    }
  }

  @media screen and (max-width: 600px){
    .profile__info {
      row-gap: 8px;
      column-gap: 7px;
    }
  }