.photo-grid__cards {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 16px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .photo-grid__cards {
    gap: 20.5px;    
  }
}