.popup__button {
  width: 358px;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  border: 0;
  background-color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border-radius: 2px;
  margin: 0 0 37px;
}

@media screen and (max-width: 659px) {
    .popup__button {
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 25px;
    }
  }