.header__logo{
  width: 142px;
  padding: 0;
  margin: 0; 
}

@media screen and (max-width: 1000px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 104px;    
  }
}