.card__trash {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  background-image: url(../../../images/Trash.svg);
  background-size: 18px 19px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: opacity .5s ease;
  z-index: 10;
}

.card__trash:hover {
  opacity: .6;
}